configure
-------	ZONE PROTECTION PROFILE INTERNAL------
----------------------------------------------
{% for i in zp_profile.internal%}
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood tcp-syn enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood tcp-syn syn-cookies alarm-rate 10000 activate-rate 10000 maximal-rate 1000000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood icmp enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood icmp red alarm-rate 10000 activate-rate 10000 maximal-rate 40000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood icmpv6 enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood icmpv6 red alarm-rate 10000 activate-rate 10000 maximal-rate 40000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood other-ip enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood other-ip red alarm-rate 10000 activate-rate 10000 maximal-rate 40000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood udp enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood udp red alarm-rate 10000 activate-rate 10000 maximal-rate 40000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-malformed-option yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-overlapping-tcp-segment-mismatch yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} remove-tcp-timestamp yes
{% endfor%}
------- ZONE PROTECTION PROFILE EXTERNAL ------
----------------------------------------------
{% for i in zp_profile.external%}
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood tcp-syn enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood tcp-syn syn-cookies alarm-rate 10000 activate-rate 10000 maximal-rate 1000000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood icmp enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood icmp red alarm-rate 10000 activate-rate 10000 maximal-rate 40000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood icmpv6 enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood icmpv6 red alarm-rate 10000 activate-rate 10000 maximal-rate 40000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood other-ip enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood other-ip red alarm-rate 10000 activate-rate 10000 maximal-rate 40000
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood udp enable yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} flood udp red alarm-rate 10000 activate-rate 10000 maximal-rate 40000

set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-malformed-option yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-overlapping-tcp-segment-mismatch yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} remove-tcp-timestamp yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8001 action alert
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8001 interval 2
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8001 threshold 100
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8002 action alert
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8002 interval 10
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8002 threshold 100
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8003 action alert
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8003 interval 2
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} scan 8003 threshold 100
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-strict-source-routing yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-security yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-loose-source-routing yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-stream-id yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-timestamp yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-unknown-option yes
set template {{ template }} config  network profiles zone-protection-profile {{ i.name }} discard-record-route yes
{% endfor%}
-------	ZONES -------------
---------------------------
{% for j in vsys%}
{% for i in j.zone%}
set template {{ template }} config  vsys {{ j.name}} zone {{ i.name }} network zone-protection-profile {{ i.zp_profile }}
set template {{ template }} config  vsys {{ j.name}} zone {{ i.name }} network layer3 [ {%for k in i.interface%}{{ k.name }} {% endfor%} ]
{% endfor%}
{% endfor%}
