configure
-------	ZONE PROTECTION PROFILE INTERNAL------
----------------------------------------------
------- ZONE PROTECTION PROFILE EXTERNAL ------
----------------------------------------------
-------	ZONES -------------
---------------------------
{% for j in vsys%}
{% for i in j.zone%}
set template {{ template }} config  vsys {{ j.name}} zone {{ i.name }} network zone-protection-profile {{ i.zp_profile }}
set template {{ template }} config  vsys {{ j.name}} zone {{ i.name }} network layer3 [ {%for k in i.interface%}{{ k.name }} {% endfor%} ]
{% endfor%}
{% endfor%}
