configure
-------	LOG FORWARDING ----------
{% for j in log_forwarding.profile%}
{% for i in j.record%}
{% if i.snmp%}
set shared log-settings profiles {{ j.name }}  match-list {{ i.name }} send-snmptrap {{ i.snmp }}
{% endif%}
set shared log-settings profiles {{ j.name }}  match-list {{ i.name }} log-type {{ i.log_type }}
set shared log-settings profiles {{ j.name }}  match-list {{ i.name }} filter "{{ i.filter }}"
set shared log-settings profiles {{ j.name }}  match-list {{ i.name }} send-to-panorama {{ i.panorama }}
{% endfor %}
{% endfor %}
