configure
-------	LOG FORWARDING ----------
{% for j in log_forwarding.profile%}
{% for i in j.record%}
{% if i.snmp%}
set shared log-settings profiles {{ j.name }}  match-list {{ i.name }} send-snmptrap {{ i.snmp }}
{% endif%}
set shared log-settings profiles {{ j.name }}  match-list {{ i.name }} log-type {{ i.log_type }}
set shared log-settings profiles {{ j.name }}  match-list {{ i.name }} filter "{{ i.filter }}"
set shared log-settings profiles {{ j.name }}  match-list {{ i.name }} send-to-panorama {{ i.panorama }}
{% endfor %}
{% endfor %}
--------------------------------
-------	ADMIN ROLES ------------
--------------------------------
set shared admin-role pa_admin_role role device-group webui dashboard enable
set shared admin-role pa_admin_role role device-group webui acc enable
set shared admin-role pa_admin_role role device-group webui monitor logs traffic enable
set shared admin-role pa_admin_role role device-group webui monitor logs threat enable
set shared admin-role pa_admin_role role device-group webui monitor logs url enable
set shared admin-role pa_admin_role role device-group webui monitor logs wildfire enable
set shared admin-role pa_admin_role role device-group webui monitor logs data-filtering enable
set shared admin-role pa_admin_role role device-group webui monitor logs hipmatch enable
set shared admin-role pa_admin_role role device-group webui monitor logs userid enable
set shared admin-role pa_admin_role role device-group webui monitor logs tunnel enable
set shared admin-role pa_admin_role role device-group webui monitor logs alarm enable
set shared admin-role pa_admin_role role device-group webui monitor logs authentication enable
set shared admin-role pa_admin_role role device-group webui monitor external-logs enable
set shared admin-role pa_admin_role role device-group webui monitor automated-correlation-engine correlation-objects enable
set shared admin-role pa_admin_role role device-group webui monitor automated-correlation-engine correlated-events enable
set shared admin-role pa_admin_role role device-group webui monitor app-scope enable
set shared admin-role pa_admin_role role device-group webui monitor pdf-reports manage-pdf-summary enable
set shared admin-role pa_admin_role role device-group webui monitor pdf-reports pdf-summary-reports enable
set shared admin-role pa_admin_role role device-group webui monitor pdf-reports user-activity-report enable
set shared admin-role pa_admin_role role device-group webui monitor pdf-reports saas-application-usage-report enable
set shared admin-role pa_admin_role role device-group webui monitor pdf-reports report-groups enable
set shared admin-role pa_admin_role role device-group webui monitor pdf-reports email-scheduler enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports application-statistics enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports data-filtering-log enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports threat-log enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports threat-summary enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports traffic-log enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports traffic-summary enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports url-log enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports url-summary enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports hipmatch enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports wildfire-log enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports tunnel-log enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports tunnel-summary enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports userid enable
set shared admin-role pa_admin_role role device-group webui monitor custom-reports auth enable
set shared admin-role pa_admin_role role device-group webui monitor view-custom-reports enable
set shared admin-role pa_admin_role role device-group webui monitor application-reports enable
set shared admin-role pa_admin_role role device-group webui monitor threat-reports enable
set shared admin-role pa_admin_role role device-group webui monitor url-filtering-reports enable
set shared admin-role pa_admin_role role device-group webui monitor traffic-reports enable
set shared admin-role pa_admin_role role device-group webui policies security-rulebase enable
set shared admin-role pa_admin_role role device-group webui policies nat-rulebase enable
set shared admin-role pa_admin_role role device-group webui policies qos-rulebase enable
set shared admin-role pa_admin_role role device-group webui policies pbf-rulebase enable
set shared admin-role pa_admin_role role device-group webui policies ssl-decryption-rulebase enable
set shared admin-role pa_admin_role role device-group webui policies tunnel-inspect-rulebase enable
set shared admin-role pa_admin_role role device-group webui policies application-override-rulebase enable
set shared admin-role pa_admin_role role device-group webui policies authentication-rulebase enable
set shared admin-role pa_admin_role role device-group webui policies dos-rulebase enable
set shared admin-role pa_admin_role role device-group webui objects addresses enable
set shared admin-role pa_admin_role role device-group webui objects address-groups enable
set shared admin-role pa_admin_role role device-group webui objects regions enable
set shared admin-role pa_admin_role role device-group webui objects applications enable
set shared admin-role pa_admin_role role device-group webui objects application-groups enable
set shared admin-role pa_admin_role role device-group webui objects application-filters enable
set shared admin-role pa_admin_role role device-group webui objects services enable
set shared admin-role pa_admin_role role device-group webui objects service-groups enable
set shared admin-role pa_admin_role role device-group webui objects tags enable
set shared admin-role pa_admin_role role device-group webui objects global-protect hip-objects enable
set shared admin-role pa_admin_role role device-group webui objects global-protect hip-profiles enable
set shared admin-role pa_admin_role role device-group webui objects dynamic-block-lists enable
set shared admin-role pa_admin_role role device-group webui objects custom-objects data-patterns enable
set shared admin-role pa_admin_role role device-group webui objects custom-objects spyware enable
set shared admin-role pa_admin_role role device-group webui objects custom-objects vulnerability enable
set shared admin-role pa_admin_role role device-group webui objects custom-objects url-category enable
set shared admin-role pa_admin_role role device-group webui objects security-profiles antivirus enable
set shared admin-role pa_admin_role role device-group webui objects security-profiles anti-spyware enable
set shared admin-role pa_admin_role role device-group webui objects security-profiles vulnerability-protection enable
set shared admin-role pa_admin_role role device-group webui objects security-profiles url-filtering enable
set shared admin-role pa_admin_role role device-group webui objects security-profiles file-blocking enable
set shared admin-role pa_admin_role role device-group webui objects security-profiles wildfire-analysis enable
set shared admin-role pa_admin_role role device-group webui objects security-profiles data-filtering enable
set shared admin-role pa_admin_role role device-group webui objects security-profiles dos-protection enable
set shared admin-role pa_admin_role role device-group webui objects security-profile-groups enable
set shared admin-role pa_admin_role role device-group webui objects log-forwarding enable
set shared admin-role pa_admin_role role device-group webui objects authentication enable
set shared admin-role pa_admin_role role device-group webui objects decryption-profile enable
set shared admin-role pa_admin_role role device-group webui objects schedules enable
set shared admin-role pa_admin_role role device-group webui network interfaces enable
set shared admin-role pa_admin_role role device-group webui network zones enable
set shared admin-role pa_admin_role role device-group webui network vlans enable
set shared admin-role pa_admin_role role device-group webui network virtual-wires enable
set shared admin-role pa_admin_role role device-group webui network virtual-routers enable
set shared admin-role pa_admin_role role device-group webui network ipsec-tunnels enable
set shared admin-role pa_admin_role role device-group webui network dhcp enable
set shared admin-role pa_admin_role role device-group webui network dns-proxy enable
set shared admin-role pa_admin_role role device-group webui network global-protect portals enable
set shared admin-role pa_admin_role role device-group webui network global-protect gateways enable
set shared admin-role pa_admin_role role device-group webui network global-protect mdm enable
set shared admin-role pa_admin_role role device-group webui network global-protect device-block-list enable
set shared admin-role pa_admin_role role device-group webui network global-protect clientless-apps enable
set shared admin-role pa_admin_role role device-group webui network global-protect clientless-app-groups enable
set shared admin-role pa_admin_role role device-group webui network qos enable
set shared admin-role pa_admin_role role device-group webui network lldp enable
set shared admin-role pa_admin_role role device-group webui network network-profiles gp-app-ipsec-crypto enable
set shared admin-role pa_admin_role role device-group webui network network-profiles ike-gateways enable
set shared admin-role pa_admin_role role device-group webui network network-profiles ipsec-crypto enable
set shared admin-role pa_admin_role role device-group webui network network-profiles ike-crypto enable
set shared admin-role pa_admin_role role device-group webui network network-profiles tunnel-monitor enable
set shared admin-role pa_admin_role role device-group webui network network-profiles interface-mgmt enable
set shared admin-role pa_admin_role role device-group webui network network-profiles zone-protection enable
set shared admin-role pa_admin_role role device-group webui network network-profiles qos-profile enable
set shared admin-role pa_admin_role role device-group webui network network-profiles lldp-profile enable
set shared admin-role pa_admin_role role device-group webui network network-profiles bfd-profile enable
set shared admin-role pa_admin_role role device-group webui device setup management enable
set shared admin-role pa_admin_role role device-group webui device setup operations enable
set shared admin-role pa_admin_role role device-group webui device setup services enable
set shared admin-role pa_admin_role role device-group webui device setup content-id enable
set shared admin-role pa_admin_role role device-group webui device setup wildfire enable
set shared admin-role pa_admin_role role device-group webui device setup session enable
set shared admin-role pa_admin_role role device-group webui device setup hsm enable
set shared admin-role pa_admin_role role device-group webui device high-availability enable
set shared admin-role pa_admin_role role device-group webui device config-audit enable
set shared admin-role pa_admin_role role device-group webui device administrators enable
set shared admin-role pa_admin_role role device-group webui device admin-roles enable
set shared admin-role pa_admin_role role device-group webui device access-domain enable
set shared admin-role pa_admin_role role device-group webui device authentication-profile enable
set shared admin-role pa_admin_role role device-group webui device authentication-sequence enable
set shared admin-role pa_admin_role role device-group webui device user-identification enable
set shared admin-role pa_admin_role role device-group webui device virtual-systems enable
set shared admin-role pa_admin_role role device-group webui device shared-gateways enable
set shared admin-role pa_admin_role role device-group webui device certificate-management certificates enable
set shared admin-role pa_admin_role role device-group webui device certificate-management certificate-profile enable
set shared admin-role pa_admin_role role device-group webui device certificate-management ocsp-responder enable
set shared admin-role pa_admin_role role device-group webui device certificate-management ssl-tls-service-profile enable
set shared admin-role pa_admin_role role device-group webui device certificate-management scep enable
set shared admin-role pa_admin_role role device-group webui device certificate-management ssl-decryption-exclusion enable
set shared admin-role pa_admin_role role device-group webui device block-pages enable
set shared admin-role pa_admin_role role device-group webui device log-settings system enable
set shared admin-role pa_admin_role role device-group webui device log-settings config enable
set shared admin-role pa_admin_role role device-group webui device log-settings user-id enable
set shared admin-role pa_admin_role role device-group webui device log-settings hipmatch enable
set shared admin-role pa_admin_role role device-group webui device log-settings correlation enable
set shared admin-role pa_admin_role role device-group webui device log-settings cc-alarm enable
set shared admin-role pa_admin_role role device-group webui device log-settings manage-log enable
set shared admin-role pa_admin_role role device-group webui device server-profile snmp-trap enable
set shared admin-role pa_admin_role role device-group webui device server-profile syslog enable
set shared admin-role pa_admin_role role device-group webui device server-profile email enable
set shared admin-role pa_admin_role role device-group webui device server-profile http enable
set shared admin-role pa_admin_role role device-group webui device server-profile netflow enable
set shared admin-role pa_admin_role role device-group webui device server-profile radius enable
set shared admin-role pa_admin_role role device-group webui device server-profile tacplus enable
set shared admin-role pa_admin_role role device-group webui device server-profile ldap enable
set shared admin-role pa_admin_role role device-group webui device server-profile kerberos enable
set shared admin-role pa_admin_role role device-group webui device server-profile saml_idp enable
set shared admin-role pa_admin_role role device-group webui device server-profile dns enable
set shared admin-role pa_admin_role role device-group webui device server-profile mfa enable
set shared admin-role pa_admin_role role device-group webui device local-user-database users enable
set shared admin-role pa_admin_role role device-group webui device local-user-database user-groups enable
set shared admin-role pa_admin_role role device-group webui device scheduled-log-export enable
set shared admin-role pa_admin_role role device-group webui device software enable
set shared admin-role pa_admin_role role device-group webui device global-protect-client enable
set shared admin-role pa_admin_role role device-group webui device dynamic-updates enable
set shared admin-role pa_admin_role role device-group webui device licenses enable
set shared admin-role pa_admin_role role device-group webui device support enable
set shared admin-role pa_admin_role role device-group webui device master-key enable
set shared admin-role pa_admin_role role device-group webui panorama managed-devices read-only
set shared admin-role pa_admin_role role device-group webui panorama templates read-only
set shared admin-role pa_admin_role role device-group webui panorama device-groups enable
set shared admin-role pa_admin_role role device-group webui panorama deployment software enable
set shared admin-role pa_admin_role role device-group webui panorama deployment global-protect-client enable
set shared admin-role pa_admin_role role device-group webui panorama deployment dynamic-updates enable
set shared admin-role pa_admin_role role device-group webui panorama deployment licenses enable
set shared admin-role pa_admin_role role device-group webui privacy show-full-ip-addresses enable
set shared admin-role pa_admin_role role device-group webui privacy show-user-names-in-logs-and-reports enable
set shared admin-role pa_admin_role role device-group webui privacy view-pcap-files enable
set shared admin-role pa_admin_role role device-group webui validate enable
set shared admin-role pa_admin_role role device-group webui save partial-save enable
set shared admin-role pa_admin_role role device-group webui save save-for-other-admins enable
set shared admin-role pa_admin_role role device-group webui commit panorama enable
set shared admin-role pa_admin_role role device-group webui commit commit-for-other-admins enable
set shared admin-role pa_admin_role role device-group webui commit device-groups enable
set shared admin-role pa_admin_role role device-group webui commit templates enable
set shared admin-role pa_admin_role role device-group webui commit force-template-values enable
set shared admin-role pa_admin_role role device-group webui tasks enable
set shared admin-role pa_admin_role role device-group webui global system-alarms enable
set shared admin-role pa_admin_role role device-group contextswitch dashboard enable
set shared admin-role pa_admin_role role device-group contextswitch acc enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs traffic enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs threat enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs url enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs wildfire enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs data-filtering enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs hipmatch enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs userid enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs tunnel enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs configuration enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs system enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs alarm enable
set shared admin-role pa_admin_role role device-group contextswitch monitor logs authentication enable
set shared admin-role pa_admin_role role device-group contextswitch monitor automated-correlation-engine correlation-objects enable
set shared admin-role pa_admin_role role device-group contextswitch monitor automated-correlation-engine correlated-events enable
set shared admin-role pa_admin_role role device-group contextswitch monitor packet-capture enable
set shared admin-role pa_admin_role role device-group contextswitch monitor app-scope enable
set shared admin-role pa_admin_role role device-group contextswitch monitor session-browser enable
set shared admin-role pa_admin_role role device-group contextswitch monitor botnet enable
set shared admin-role pa_admin_role role device-group contextswitch monitor pdf-reports manage-pdf-summary enable
set shared admin-role pa_admin_role role device-group contextswitch monitor pdf-reports pdf-summary-reports enable
set shared admin-role pa_admin_role role device-group contextswitch monitor pdf-reports user-activity-report enable
set shared admin-role pa_admin_role role device-group contextswitch monitor pdf-reports saas-application-usage-report enable
set shared admin-role pa_admin_role role device-group contextswitch monitor pdf-reports report-groups enable
set shared admin-role pa_admin_role role device-group contextswitch monitor pdf-reports email-scheduler enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports application-statistics enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports data-filtering-log enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports threat-log enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports threat-summary enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports traffic-log enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports traffic-summary enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports url-log enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports url-summary enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports hipmatch enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports wildfire-log enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports tunnel-log enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports tunnel-summary enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports userid enable
set shared admin-role pa_admin_role role device-group contextswitch monitor custom-reports auth enable
set shared admin-role pa_admin_role role device-group contextswitch monitor view-custom-reports enable
set shared admin-role pa_admin_role role device-group contextswitch monitor application-reports enable
set shared admin-role pa_admin_role role device-group contextswitch monitor threat-reports enable
set shared admin-role pa_admin_role role device-group contextswitch monitor url-filtering-reports enable
set shared admin-role pa_admin_role role device-group contextswitch monitor traffic-reports enable
set shared admin-role pa_admin_role role device-group contextswitch policies security-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch policies nat-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch policies qos-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch policies pbf-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch policies ssl-decryption-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch policies tunnel-inspect-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch policies application-override-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch policies authentication-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch policies dos-rulebase enable
set shared admin-role pa_admin_role role device-group contextswitch objects addresses enable
set shared admin-role pa_admin_role role device-group contextswitch objects address-groups enable
set shared admin-role pa_admin_role role device-group contextswitch objects regions enable
set shared admin-role pa_admin_role role device-group contextswitch objects applications enable
set shared admin-role pa_admin_role role device-group contextswitch objects application-groups enable
set shared admin-role pa_admin_role role device-group contextswitch objects application-filters enable
set shared admin-role pa_admin_role role device-group contextswitch objects services enable
set shared admin-role pa_admin_role role device-group contextswitch objects service-groups enable
set shared admin-role pa_admin_role role device-group contextswitch objects tags enable
set shared admin-role pa_admin_role role device-group contextswitch objects global-protect hip-objects enable
set shared admin-role pa_admin_role role device-group contextswitch objects global-protect hip-profiles enable
set shared admin-role pa_admin_role role device-group contextswitch objects dynamic-block-lists enable
set shared admin-role pa_admin_role role device-group contextswitch objects custom-objects data-patterns enable
set shared admin-role pa_admin_role role device-group contextswitch objects custom-objects spyware enable
set shared admin-role pa_admin_role role device-group contextswitch objects custom-objects vulnerability enable
set shared admin-role pa_admin_role role device-group contextswitch objects custom-objects url-category enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profiles antivirus enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profiles anti-spyware enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profiles vulnerability-protection enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profiles url-filtering enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profiles file-blocking enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profiles wildfire-analysis enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profiles data-filtering enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profiles dos-protection enable
set shared admin-role pa_admin_role role device-group contextswitch objects security-profile-groups enable
set shared admin-role pa_admin_role role device-group contextswitch objects log-forwarding enable
set shared admin-role pa_admin_role role device-group contextswitch objects authentication enable
set shared admin-role pa_admin_role role device-group contextswitch objects decryption-profile enable
set shared admin-role pa_admin_role role device-group contextswitch objects schedules enable
set shared admin-role pa_admin_role role device-group contextswitch network interfaces enable
set shared admin-role pa_admin_role role device-group contextswitch network zones enable
set shared admin-role pa_admin_role role device-group contextswitch network vlans enable
set shared admin-role pa_admin_role role device-group contextswitch network virtual-wires enable
set shared admin-role pa_admin_role role device-group contextswitch network virtual-routers enable
set shared admin-role pa_admin_role role device-group contextswitch network ipsec-tunnels enable
set shared admin-role pa_admin_role role device-group contextswitch network dhcp enable
set shared admin-role pa_admin_role role device-group contextswitch network dns-proxy enable
set shared admin-role pa_admin_role role device-group contextswitch network global-protect portals enable
set shared admin-role pa_admin_role role device-group contextswitch network global-protect gateways enable
set shared admin-role pa_admin_role role device-group contextswitch network global-protect mdm enable
set shared admin-role pa_admin_role role device-group contextswitch network global-protect device-block-list enable
set shared admin-role pa_admin_role role device-group contextswitch network global-protect clientless-apps enable
set shared admin-role pa_admin_role role device-group contextswitch network global-protect clientless-app-groups enable
set shared admin-role pa_admin_role role device-group contextswitch network qos enable
set shared admin-role pa_admin_role role device-group contextswitch network lldp enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles gp-app-ipsec-crypto enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles ike-gateways enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles ipsec-crypto enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles ike-crypto enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles tunnel-monitor enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles interface-mgmt enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles zone-protection enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles qos-profile enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles lldp-profile enable
set shared admin-role pa_admin_role role device-group contextswitch network network-profiles bfd-profile enable
set shared admin-role pa_admin_role role device-group contextswitch device setup management enable
set shared admin-role pa_admin_role role device-group contextswitch device setup operations enable
set shared admin-role pa_admin_role role device-group contextswitch device setup services enable
set shared admin-role pa_admin_role role device-group contextswitch device setup content-id enable
set shared admin-role pa_admin_role role device-group contextswitch device setup wildfire enable
set shared admin-role pa_admin_role role device-group contextswitch device setup session enable
set shared admin-role pa_admin_role role device-group contextswitch device setup hsm enable
set shared admin-role pa_admin_role role device-group contextswitch device high-availability enable
set shared admin-role pa_admin_role role device-group contextswitch device config-audit enable
set shared admin-role pa_admin_role role device-group contextswitch device administrators read-only
set shared admin-role pa_admin_role role device-group contextswitch device admin-roles read-only
set shared admin-role pa_admin_role role device-group contextswitch device access-domain enable
set shared admin-role pa_admin_role role device-group contextswitch device authentication-profile enable
set shared admin-role pa_admin_role role device-group contextswitch device authentication-sequence enable
set shared admin-role pa_admin_role role device-group contextswitch device user-identification enable
set shared admin-role pa_admin_role role device-group contextswitch device vm-info-source enable
set shared admin-role pa_admin_role role device-group contextswitch device virtual-systems enable
set shared admin-role pa_admin_role role device-group contextswitch device shared-gateways enable
set shared admin-role pa_admin_role role device-group contextswitch device certificate-management certificates enable
set shared admin-role pa_admin_role role device-group contextswitch device certificate-management certificate-profile enable
set shared admin-role pa_admin_role role device-group contextswitch device certificate-management ocsp-responder enable
set shared admin-role pa_admin_role role device-group contextswitch device certificate-management ssl-tls-service-profile enable
set shared admin-role pa_admin_role role device-group contextswitch device certificate-management scep enable
set shared admin-role pa_admin_role role device-group contextswitch device certificate-management ssl-decryption-exclusion enable
set shared admin-role pa_admin_role role device-group contextswitch device block-pages enable
set shared admin-role pa_admin_role role device-group contextswitch device log-settings system enable
set shared admin-role pa_admin_role role device-group contextswitch device log-settings config enable
set shared admin-role pa_admin_role role device-group contextswitch device log-settings user-id enable
set shared admin-role pa_admin_role role device-group contextswitch device log-settings hipmatch enable
set shared admin-role pa_admin_role role device-group contextswitch device log-settings correlation enable
set shared admin-role pa_admin_role role device-group contextswitch device log-settings cc-alarm enable
set shared admin-role pa_admin_role role device-group contextswitch device log-settings manage-log enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile snmp-trap enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile syslog enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile email enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile http enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile netflow enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile radius enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile tacplus enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile ldap enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile kerberos enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile saml_idp enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile dns enable
set shared admin-role pa_admin_role role device-group contextswitch device server-profile mfa enable
set shared admin-role pa_admin_role role device-group contextswitch device local-user-database users enable
set shared admin-role pa_admin_role role device-group contextswitch device local-user-database user-groups enable
set shared admin-role pa_admin_role role device-group contextswitch device scheduled-log-export enable
set shared admin-role pa_admin_role role device-group contextswitch device software enable
set shared admin-role pa_admin_role role device-group contextswitch device global-protect-client enable
set shared admin-role pa_admin_role role device-group contextswitch device dynamic-updates enable
set shared admin-role pa_admin_role role device-group contextswitch device licenses enable
set shared admin-role pa_admin_role role device-group contextswitch device support enable
set shared admin-role pa_admin_role role device-group contextswitch device master-key enable
set shared admin-role pa_admin_role role device-group contextswitch privacy show-full-ip-addresses enable
set shared admin-role pa_admin_role role device-group contextswitch privacy show-user-names-in-logs-and-reports enable
set shared admin-role pa_admin_role role device-group contextswitch privacy view-pcap-files enable
set shared admin-role pa_admin_role role device-group contextswitch validate enable
set shared admin-role pa_admin_role role device-group contextswitch save partial-save enable
set shared admin-role pa_admin_role role device-group contextswitch save save-for-other-admins enable
set shared admin-role pa_admin_role role device-group contextswitch commit device enable
set shared admin-role pa_admin_role role device-group contextswitch commit commit-for-other-admins enable
set shared admin-role pa_admin_role role device-group contextswitch tasks enable
set shared admin-role admin_role_orch role panorama webui
set shared admin-role admin_role_orch role panorama contextswitch
set shared admin-role admin_role_orch role panorama xmlapi report enable
set shared admin-role admin_role_orch role panorama xmlapi log enable
set shared admin-role admin_role_orch role panorama xmlapi config enable
set shared admin-role admin_role_orch role panorama xmlapi op enable
set shared admin-role admin_role_orch role panorama xmlapi commit enable
set shared admin-role admin_role_orch role panorama xmlapi user-id enable
set shared admin-role admin_role_orch role panorama xmlapi export enable
set shared admin-role admin_role_orch role panorama xmlapi import enable
----------------------------------------
-------	SECURITY PROFILES --------------
---------------------------------------- 
set shared profiles virus av_all-reset_sp decoder http action reset-server
set shared profiles virus av_all-reset_sp decoder http wildfire-action allow
set shared profiles virus av_all-reset_sp decoder smtp action reset-server
set shared profiles virus av_all-reset_sp decoder smtp wildfire-action allow
set shared profiles virus av_all-reset_sp decoder imap action reset-server
set shared profiles virus av_all-reset_sp decoder imap wildfire-action allow
set shared profiles virus av_all-reset_sp decoder pop3 action reset-server
set shared profiles virus av_all-reset_sp decoder pop3 wildfire-action allow
set shared profiles virus av_all-reset_sp decoder ftp action reset-server
set shared profiles virus av_all-reset_sp decoder ftp wildfire-action allow
set shared profiles virus av_all-reset_sp decoder smb action reset-server
set shared profiles virus av_all-reset_sp decoder smb wildfire-action allow
set shared profiles virus av_smtp-reset-sp decoder http action default
set shared profiles virus av_smtp-reset-sp decoder http wildfire-action allow
set shared profiles virus av_smtp-reset-sp decoder smtp action reset-server
set shared profiles virus av_smtp-reset-sp decoder smtp wildfire-action allow
set shared profiles virus av_smtp-reset-sp decoder imap action default
set shared profiles virus av_smtp-reset-sp decoder imap wildfire-action allow
set shared profiles virus av_smtp-reset-sp decoder pop3 action default
set shared profiles virus av_smtp-reset-sp decoder pop3 wildfire-action allow
set shared profiles virus av_smtp-reset-sp decoder ftp action default
set shared profiles virus av_smtp-reset-sp decoder ftp wildfire-action allow
set shared profiles virus av_smtp-reset-sp decoder smb action default
set shared profiles virus av_smtp-reset-sp decoder smb wildfire-action allow
set shared profiles virus av_default_sp decoder http action default
set shared profiles virus av_default_sp decoder http wildfire-action allow
set shared profiles virus av_default_sp decoder smtp action default
set shared profiles virus av_default_sp decoder smtp wildfire-action allow
set shared profiles virus av_default_sp decoder imap action default
set shared profiles virus av_default_sp decoder imap wildfire-action allow
set shared profiles virus av_default_sp decoder pop3 action default
set shared profiles virus av_default_sp decoder pop3 wildfire-action allow
set shared profiles virus av_default_sp decoder ftp action default
set shared profiles virus av_default_sp decoder ftp wildfire-action allow
set shared profiles virus av_default_sp decoder smb action default
set shared profiles virus av_default_sp decoder smb wildfire-action allow
set shared profiles spyware as_default-sinkhole_sp rules simple-critical action default
set shared profiles spyware as_default-sinkhole_sp rules simple-critical severity critical
set shared profiles spyware as_default-sinkhole_sp rules simple-critical threat-name any
set shared profiles spyware as_default-sinkhole_sp rules simple-critical category any
set shared profiles spyware as_default-sinkhole_sp rules simple-critical packet-capture disable
set shared profiles spyware as_default-sinkhole_sp rules simple-high action default
set shared profiles spyware as_default-sinkhole_sp rules simple-high severity high
set shared profiles spyware as_default-sinkhole_sp rules simple-high threat-name any
set shared profiles spyware as_default-sinkhole_sp rules simple-high category any
set shared profiles spyware as_default-sinkhole_sp rules simple-high packet-capture disable
set shared profiles spyware as_default-sinkhole_sp rules simple-medium action default
set shared profiles spyware as_default-sinkhole_sp rules simple-medium severity medium
set shared profiles spyware as_default-sinkhole_sp rules simple-medium threat-name any
set shared profiles spyware as_default-sinkhole_sp rules simple-medium category any
set shared profiles spyware as_default-sinkhole_sp rules simple-medium packet-capture disable
set shared profiles spyware as_default-sinkhole_sp rules simple-low action default
set shared profiles spyware as_default-sinkhole_sp rules simple-low severity low
set shared profiles spyware as_default-sinkhole_sp rules simple-low threat-name any
set shared profiles spyware as_default-sinkhole_sp rules simple-low category any
set shared profiles spyware as_default-sinkhole_sp rules simple-low packet-capture disable
set shared profiles spyware as_default-sinkhole_sp botnet-domains packet-capture disable
set shared profiles spyware as_default-sinkhole_sp botnet-domains sinkhole ipv4-address pan-sinkhole-default-ip
set shared profiles spyware as_default-sinkhole_sp botnet-domains sinkhole ipv6-address ::1
set shared profiles spyware as_default-sinkhole_sp botnet-domains lists default-paloalto-dns action sinkhole
set shared profiles spyware as_strict-sinkhole_sp rules simple-critical action reset-both
set shared profiles spyware as_strict-sinkhole_sp rules simple-critical severity critical
set shared profiles spyware as_strict-sinkhole_sp rules simple-critical threat-name any
set shared profiles spyware as_strict-sinkhole_sp rules simple-critical category any
set shared profiles spyware as_strict-sinkhole_sp rules simple-critical packet-capture disable
set shared profiles spyware as_strict-sinkhole_sp rules simple-high action reset-both
set shared profiles spyware as_strict-sinkhole_sp rules simple-high severity high
set shared profiles spyware as_strict-sinkhole_sp rules simple-high threat-name any
set shared profiles spyware as_strict-sinkhole_sp rules simple-high category any
set shared profiles spyware as_strict-sinkhole_sp rules simple-high packet-capture disable
set shared profiles spyware as_strict-sinkhole_sp rules simple-medium action reset-both
set shared profiles spyware as_strict-sinkhole_sp rules simple-medium severity medium
set shared profiles spyware as_strict-sinkhole_sp rules simple-medium threat-name any
set shared profiles spyware as_strict-sinkhole_sp rules simple-medium category any
set shared profiles spyware as_strict-sinkhole_sp rules simple-medium packet-capture disable
set shared profiles spyware as_strict-sinkhole_sp rules simple-informational action default
set shared profiles spyware as_strict-sinkhole_sp rules simple-informational severity informational
set shared profiles spyware as_strict-sinkhole_sp rules simple-informational threat-name any
set shared profiles spyware as_strict-sinkhole_sp rules simple-informational category any
set shared profiles spyware as_strict-sinkhole_sp rules simple-informational packet-capture disable
set shared profiles spyware as_strict-sinkhole_sp rules simple-low action default
set shared profiles spyware as_strict-sinkhole_sp rules simple-low severity low
set shared profiles spyware as_strict-sinkhole_sp rules simple-low threat-name any
set shared profiles spyware as_strict-sinkhole_sp rules simple-low category any
set shared profiles spyware as_strict-sinkhole_sp rules simple-low packet-capture disable
set shared profiles spyware as_strict-sinkhole_sp botnet-domains packet-capture disable
set shared profiles spyware as_strict-sinkhole_sp botnet-domains sinkhole ipv4-address pan-sinkhole-default-ip
set shared profiles spyware as_strict-sinkhole_sp botnet-domains sinkhole ipv6-address ::1
set shared profiles spyware as_strict-sinkhole_sp botnet-domains lists default-paloalto-dns action sinkhole
set shared profiles spyware as_reset-all_sp rules anyThreat action reset-both
set shared profiles spyware as_reset-all_sp rules anyThreat severity any
set shared profiles spyware as_reset-all_sp rules anyThreat threat-name any
set shared profiles spyware as_reset-all_sp rules anyThreat category any
set shared profiles spyware as_reset-all_sp rules anyThreat packet-capture disable
set shared profiles spyware as_reset-all_sp botnet-domains lists default-paloalto-dns action block
set shared profiles spyware as_reset-all_sp botnet-domains packet-capture disable
set shared profiles spyware as_default_sp rules simple-critical action default
set shared profiles spyware as_default_sp rules simple-critical severity critical
set shared profiles spyware as_default_sp rules simple-critical threat-name any
set shared profiles spyware as_default_sp rules simple-critical category any
set shared profiles spyware as_default_sp rules simple-critical packet-capture disable
set shared profiles spyware as_default_sp rules simple-high action default
set shared profiles spyware as_default_sp rules simple-high severity high
set shared profiles spyware as_default_sp rules simple-high threat-name any
set shared profiles spyware as_default_sp rules simple-high category any
set shared profiles spyware as_default_sp rules simple-high packet-capture disable
set shared profiles spyware as_default_sp rules simple-medium action default
set shared profiles spyware as_default_sp rules simple-medium severity medium
set shared profiles spyware as_default_sp rules simple-medium threat-name any
set shared profiles spyware as_default_sp rules simple-medium category any
set shared profiles spyware as_default_sp rules simple-medium packet-capture disable
set shared profiles spyware as_default_sp rules simple-low action default
set shared profiles spyware as_default_sp rules simple-low severity low
set shared profiles spyware as_default_sp rules simple-low threat-name any
set shared profiles spyware as_default_sp rules simple-low category any
set shared profiles spyware as_default_sp rules simple-low packet-capture disable
set shared profiles spyware as_default_sp botnet-domains lists default-paloalto-dns action alert
set shared profiles spyware as_default_sp botnet-domains packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-client-critical action reset-client
set shared profiles vulnerability vp_strict_sp rules simple-client-critical vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-client-critical severity critical
set shared profiles vulnerability vp_strict_sp rules simple-client-critical cve any
set shared profiles vulnerability vp_strict_sp rules simple-client-critical threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-client-critical host client
set shared profiles vulnerability vp_strict_sp rules simple-client-critical category any
set shared profiles vulnerability vp_strict_sp rules simple-client-critical packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-client-high action reset-client
set shared profiles vulnerability vp_strict_sp rules simple-client-high vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-client-high severity high
set shared profiles vulnerability vp_strict_sp rules simple-client-high cve any
set shared profiles vulnerability vp_strict_sp rules simple-client-high threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-client-high host client
set shared profiles vulnerability vp_strict_sp rules simple-client-high category any
set shared profiles vulnerability vp_strict_sp rules simple-client-high packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-client-medium action reset-client
set shared profiles vulnerability vp_strict_sp rules simple-client-medium vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-client-medium severity medium
set shared profiles vulnerability vp_strict_sp rules simple-client-medium cve any
set shared profiles vulnerability vp_strict_sp rules simple-client-medium threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-client-medium host client
set shared profiles vulnerability vp_strict_sp rules simple-client-medium category any
set shared profiles vulnerability vp_strict_sp rules simple-client-medium packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-client-informational action default
set shared profiles vulnerability vp_strict_sp rules simple-client-informational vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-client-informational severity informational
set shared profiles vulnerability vp_strict_sp rules simple-client-informational cve any
set shared profiles vulnerability vp_strict_sp rules simple-client-informational threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-client-informational host client
set shared profiles vulnerability vp_strict_sp rules simple-client-informational category any
set shared profiles vulnerability vp_strict_sp rules simple-client-informational packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-client-low action default
set shared profiles vulnerability vp_strict_sp rules simple-client-low vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-client-low severity low
set shared profiles vulnerability vp_strict_sp rules simple-client-low cve any
set shared profiles vulnerability vp_strict_sp rules simple-client-low threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-client-low host client
set shared profiles vulnerability vp_strict_sp rules simple-client-low category any
set shared profiles vulnerability vp_strict_sp rules simple-client-low packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-server-critical action reset-server
set shared profiles vulnerability vp_strict_sp rules simple-server-critical vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-server-critical severity critical
set shared profiles vulnerability vp_strict_sp rules simple-server-critical cve any
set shared profiles vulnerability vp_strict_sp rules simple-server-critical threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-server-critical host server
set shared profiles vulnerability vp_strict_sp rules simple-server-critical category any
set shared profiles vulnerability vp_strict_sp rules simple-server-critical packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-server-high action reset-server
set shared profiles vulnerability vp_strict_sp rules simple-server-high vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-server-high severity high
set shared profiles vulnerability vp_strict_sp rules simple-server-high cve any
set shared profiles vulnerability vp_strict_sp rules simple-server-high threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-server-high host server
set shared profiles vulnerability vp_strict_sp rules simple-server-high category any
set shared profiles vulnerability vp_strict_sp rules simple-server-high packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-server-medium action reset-server
set shared profiles vulnerability vp_strict_sp rules simple-server-medium vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-server-medium severity medium
set shared profiles vulnerability vp_strict_sp rules simple-server-medium cve any
set shared profiles vulnerability vp_strict_sp rules simple-server-medium threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-server-medium host server
set shared profiles vulnerability vp_strict_sp rules simple-server-medium category any
set shared profiles vulnerability vp_strict_sp rules simple-server-medium packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-server-informational action default
set shared profiles vulnerability vp_strict_sp rules simple-server-informational vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-server-informational severity informational
set shared profiles vulnerability vp_strict_sp rules simple-server-informational cve any
set shared profiles vulnerability vp_strict_sp rules simple-server-informational threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-server-informational host server
set shared profiles vulnerability vp_strict_sp rules simple-server-informational category any
set shared profiles vulnerability vp_strict_sp rules simple-server-informational packet-capture disable
set shared profiles vulnerability vp_strict_sp rules simple-server-low action default
set shared profiles vulnerability vp_strict_sp rules simple-server-low vendor-id any
set shared profiles vulnerability vp_strict_sp rules simple-server-low severity low
set shared profiles vulnerability vp_strict_sp rules simple-server-low cve any
set shared profiles vulnerability vp_strict_sp rules simple-server-low threat-name any
set shared profiles vulnerability vp_strict_sp rules simple-server-low host server
set shared profiles vulnerability vp_strict_sp rules simple-server-low category any
set shared profiles vulnerability vp_strict_sp rules simple-server-low packet-capture disable
set shared profiles vulnerability vp_default_sp rules simple-server-medium action default
set shared profiles vulnerability vp_default_sp rules simple-server-medium vendor-id any
set shared profiles vulnerability vp_default_sp rules simple-server-medium severity medium
set shared profiles vulnerability vp_default_sp rules simple-server-medium cve any
set shared profiles vulnerability vp_default_sp rules simple-server-medium threat-name any
set shared profiles vulnerability vp_default_sp rules simple-server-medium host server
set shared profiles vulnerability vp_default_sp rules simple-server-medium category any
set shared profiles vulnerability vp_default_sp rules simple-server-medium packet-capture disable
set shared profiles vulnerability vp_default_sp rules simple-client-critical action default
set shared profiles vulnerability vp_default_sp rules simple-client-critical vendor-id any
set shared profiles vulnerability vp_default_sp rules simple-client-critical severity critical
set shared profiles vulnerability vp_default_sp rules simple-client-critical cve any
set shared profiles vulnerability vp_default_sp rules simple-client-critical threat-name any
set shared profiles vulnerability vp_default_sp rules simple-client-critical host client
set shared profiles vulnerability vp_default_sp rules simple-client-critical category any
set shared profiles vulnerability vp_default_sp rules simple-client-critical packet-capture disable
set shared profiles vulnerability vp_default_sp rules simple-client-high action default
set shared profiles vulnerability vp_default_sp rules simple-client-high vendor-id any
set shared profiles vulnerability vp_default_sp rules simple-client-high severity high
set shared profiles vulnerability vp_default_sp rules simple-client-high cve any
set shared profiles vulnerability vp_default_sp rules simple-client-high threat-name any
set shared profiles vulnerability vp_default_sp rules simple-client-high host client
set shared profiles vulnerability vp_default_sp rules simple-client-high category any
set shared profiles vulnerability vp_default_sp rules simple-client-high packet-capture disable
set shared profiles vulnerability vp_default_sp rules simple-client-medium action default
set shared profiles vulnerability vp_default_sp rules simple-client-medium vendor-id any
set shared profiles vulnerability vp_default_sp rules simple-client-medium severity medium
set shared profiles vulnerability vp_default_sp rules simple-client-medium cve any
set shared profiles vulnerability vp_default_sp rules simple-client-medium threat-name any
set shared profiles vulnerability vp_default_sp rules simple-client-medium host client
set shared profiles vulnerability vp_default_sp rules simple-client-medium category any
set shared profiles vulnerability vp_default_sp rules simple-client-medium packet-capture disable
set shared profiles vulnerability vp_default_sp rules simple-server-critical action default
set shared profiles vulnerability vp_default_sp rules simple-server-critical vendor-id any
set shared profiles vulnerability vp_default_sp rules simple-server-critical severity critical
set shared profiles vulnerability vp_default_sp rules simple-server-critical cve any
set shared profiles vulnerability vp_default_sp rules simple-server-critical threat-name any
set shared profiles vulnerability vp_default_sp rules simple-server-critical host server
set shared profiles vulnerability vp_default_sp rules simple-server-critical category any
set shared profiles vulnerability vp_default_sp rules simple-server-critical packet-capture disable
set shared profiles vulnerability vp_default_sp rules simple-server-high action default
set shared profiles vulnerability vp_default_sp rules simple-server-high vendor-id any
set shared profiles vulnerability vp_default_sp rules simple-server-high severity high
set shared profiles vulnerability vp_default_sp rules simple-server-high cve any
set shared profiles vulnerability vp_default_sp rules simple-server-high threat-name any
set shared profiles vulnerability vp_default_sp rules simple-server-high host server
set shared profiles vulnerability vp_default_sp rules simple-server-high category any
set shared profiles vulnerability vp_default_sp rules simple-server-high packet-capture disable
set shared profiles url-filtering uf_default_sp credential-enforcement mode disabled
set shared profiles url-filtering uf_default_sp credential-enforcement log-severity medium
set shared profiles url-filtering uf_default_sp credential-enforcement block [ abused-drugs adult command-and-control gambling hacking malware phishing questionable weapons ]
set shared profiles url-filtering uf_default_sp action block
set shared profiles url-filtering uf_default_sp block [ abused-drugs adult command-and-control gambling hacking malware phishing questionable weapons ]
set shared profiles wildfire-analysis wa_best-practice_sp rules default application any
set shared profiles wildfire-analysis wa_best-practice_sp rules default file-type [ apk flash jar ms-office pdf pe ]
set shared profiles wildfire-analysis wa_best-practice_sp rules default direction both
set shared profiles wildfire-analysis wa_best-practice_sp rules default analysis public-cloud
set shared profiles wildfire-analysis wa_default_sp rules default application any
set shared profiles wildfire-analysis wa_default_sp rules default file-type any
set shared profiles wildfire-analysis wa_default_sp rules default direction both
set shared profiles wildfire-analysis wa_default_sp rules default analysis public-cloud
